.fide-effect {
    position: absolute;
    top: 20px;
    width: 100px;
    height: 100%;
    z-index: 3;

}

.left {
    left: 0;
    background: linear-gradient(-90deg, transparent ,  #0d192b);

}
.right {
    right: 0;
    background: linear-gradient(90deg, transparent ,  #0d192b    );
}